/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 0;
    background: linear-gradient(to bottom, #efefef, #f8f8f8);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
}

/* Hero section styles */
.hero {
    background-image: url(hero.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: center;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

/* Products section styles */
.products {
    padding: 50px 20px;
}

.products h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.product {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 40px;
}

.product img {
    width: 100%;
    margin-bottom: 20px;
}

.product h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product p {
    font-size: 1.2rem;
    color: #333;
}

footer {
    text-align: center;
    padding: 20px 0;
}
